* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #5D6063;
    font-family: sans-serif;
    font-size: 18px;
    height: 1200px;
}

a:link,
a:visited {
    color: #5D6063;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header {
    background: #D6E9FE;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: fixed;
    width: 100%;
}

.menu {
    margin-top: 15px;
}

.menu > li {
    display: inline;
    margin-right: 50px;
}

.menu > li:last-of-type {
    margin-right: 0;
}

.features-menu {
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 60px;
}

.features-menu li {
    list-style: none;
    border-bottom: 1px solid #FFF;

    padding: 0 40px 10px 20px;
    margin: 10px;
}
  
.features-menu li:last-of-type {
    border-bottom: none;
}

.features-menu {
    background: #B2D6FF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: -30px;
    padding-top: 60px;
    position: absolute;
    top: -25px;
}

.dropdown {
    position: relative;
  }

.dropdown > span {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.features-menu {
    z-index: 1;
}

.dropdown:hover .features-menu {
    background: #B2D6FF;
    display: flex;
    flex-direction: column;
}

.features-menu {
    display: none;
}
