body {
  font: 1.2em Helvetica, aria, sans-serif;
  margin: 0 3%;
}

h1 {
  font-size: 1.8em;
  margin: 0.9em 0 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
}

img {
  max-width: 100%;
}

figure {
  background: black;
  border-radius: 5px;
  color: white;
  margin: 25px 0;
  padding: 10px;
  text-align: center;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (min-width: 768px) {
  body {
    background: rgba(0, 0, 255, 0.2);
    margin: 25px 6%;
  }

  figure {
    float: left;
    margin-right: 4.5%;
    width: 42%;
  }
}

@media screen and (min-width: 1020px) {
  body {
    background: rgba(0, 255, 0, 0.2);
    margin: 25px 10%;
    max-width: 1130px;
  }

  figure {
    margin-right: 2.5%;
    width: 28%;
  }
}
